<p-toolbar>
  <div class="p-toolbar-group-left">
    <i class="pi pi-shield p-mr-2"></i>
    Dot Connect
  </div>
  <div class="p-toolbar-group-right">
    <i class="pi pi-twitter p-mr-2"></i>
  </div>
</p-toolbar>

<div class="p-grid p-m-3">
  <div class="p-col-4">
    <div class="leftCard p-component p-shadow-4">

      <div class="productListHeading p-d-flex p-jc-between p-ai-center">Product List
        <div class="btnwrap">
          <button (click)="export()" pButton type="button" class="p-button-rounded p-button-outlined p-mr-3" label="Export"
            icon="pi pi-reply"></button>
          <button (click)="addNew()" pButton type="button" class="p-button-rounded p-button-outlined" label="Add"
            icon="pi pi-plus-circle"></button>
        </div>
      </div>

      <div class="cardContent">
        <div (click)="update(product,i)" *ngFor="let product of products;let i=index" class="productListWrap p-d-flex p-jc-between p-shadow-7">
          <div class="productimg p-col-4">
            <img src="../assets/images/eyeCreame.jpg" alt="" class="" />
          </div>
          <div class="productInfoWrap p-col-8">
            <h3 class="productName p-mt-0 p-mb-2">{{product.name}}</h3>
            <div class="productBy">Product By: {{product.productby}}</div>
            <div class="productPrice p-my-2">${{product.price}}</div>
          </div>
          <a class="editProduct">
            <button  pButton type="button" class="p-button-rounded p-button-outlined"
              icon="pi pi-pencil"></button>
          </a>
          <div class="deleteProduct">
            <button (click)="delete(i)" pButton type="button" class="p-button-danger p-button-rounded p-button-outlined"
              icon="pi pi-trash"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="p-col-8 productDetailsSection">

    <div *ngIf="showForm" class="p-component p-shadow-4 p-p-3 box">
      <div class="productListHeading p-p-0">
        Product Details
      </div>
      <div class="formarea p-mt-3">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
          <div class="p-grid">
            <div class="p-col-12">
              <div class="p-field">
                <label for="name">Product Name</label>
                <input type="text" pInputText formControlName="name" placeholder="Please Enter Product Name"
                  class="p-inputtext-lg" />
              </div>
              <div class="p-field">
                <label for="productby">Product By</label>
                <input type="text" pInputText formControlName="productby" placeholder="Please Enter Product By"
                  class="p-inputtext-lg" />
              </div>
              <div class="p-field">
                <label for="price">Amount</label>
                <input type="number" pInputText formControlName="price" placeholder="Please Enter Product By"
                  class="p-inputtext-lg" />
              </div>
              <hr />
              <button pButton type="submit" *ngIf="!isUpdate" label="Add" [disabled]="myForm.invalid"></button>
              <button pButton type="submit" *ngIf="isUpdate" label="Update" [disabled]="myForm.invalid"></button>
              <button pButton type="reset" label="Reset" [disabled]="myForm.invalid"
                class="p-button-outlined p-ml-3"></button>
            </div>
          </div>

        </form>
      </div>
    </div>
    <div *ngIf="!showForm && !showExportOption" class="p-component p-shadow-4 p-p-3 box">
      <div class="selectProduct">Please select product to see details.</div>
    </div>
    <div *ngIf="showExportOption" class="p-component p-shadow-4 p-p-3 box">
      <div class="exportText p-mb-4">You can select below format to export the data</div>
      <div class="p-text-center">
        <button  pButton type="button" class="p-button-rounded p-button-outlined p-mr-3" label="CSV"
            icon="pi pi-file-excel"></button>
            <button  pButton type="button" class="p-button-rounded p-button-outlined p-mr-3" label="JSON String"
            icon="pi pi-book"></button> 
            <button  pButton type="button" class="p-button-rounded p-button-outlined p-mr-3" label="Plain Text"
            icon="pi pi-file"></button>    
      </div>
    </div>
  </div>
</div>